$bg-color-main: #141414;
$color-text-heading: #fff;
$color-text-primary: #d9d9d9;

body {
  color: $color-text-primary;
  font-family: Yantramanav;
  font-weight: 300;
  background: $bg-color-main url(../img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.page-home {
  min-height: 100vh;

  img,
  h1 {
    display: inline-block;
  }

  img {
    width: 100%;
    height: 256px;
    //display: none;
  }

  h1 {
    margin: 37px 0 0;
    text-transform: uppercase;
    font-family: Orbitron; //Lalezar, Bungee, Righteous, Audiowide, Exo 2, Orbitron!!!, Aldrich, Michroma!!!, Syncopate!!!
    font-size: 86px;
    font-weight: bold;
  }

  &::after {
    content: '';
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .body {
    padding-top: 10vh;

    .actions {
      padding-top: 30px;
      text-align: right;

      span {
        padding: 0 20px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  .header,
  .footer {
    height: 110px;
    background: rgba(0, 0, 0, .65);
    position: relative;

    &:after {
      content: '';
      width: 100%;
      height: 10px;
      background: rgba(29, 93, 137, .7);
      bottom: 0;
      left: 0;
      position: absolute;
    }
  }

  .header {
    .signin {
      padding-top: 35px;

      p {
        margin-right: 15px;
        display: inline-block;
      }
    }
  }

  .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    &:after {
      top: 0;
    }
  }
}

h1,
h2 {
  color: $color-text-heading;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 18px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.btn {
  line-height: 1.5;
  text-transform: uppercase;
  border-radius: 0;
  border-width: 1px;
  font-weight: 700;
  transition: background .2s ease, border-color .2s ease;

  &:focus,
  &:active,
  &:active:focus {
    outline: none;
    box-shadow: none;
  }
}

.btn-primary {
  background: #2980b9;
  border-color: #236fa1;

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    background: #246189;
    border-color: #1d4f70;
  }
}

.btn-warning {
  background: #ffa500;
  border-color: #e59500;

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    background: #a86a09;
    border-color: #8f5b07;
  }
}

.line {
  height: 20px;
  margin: 5vh 0 0;
  background: #fff;
  opacity: .5;
}

.copy {
  padding-top: 40px;
}

.navigation {
  padding-top: 25px;

  h1 {
    margin: 0;
    font-size: 25px;
  }

  img {
    width: auto;
    height: 56px;
    margin: 0 15px 12px 0;
  }

  .btn {
    margin-top: -10px;
    margin-left: 20px;
  }
}

.content-enter {
  opacity: 0.01;
}

.content-enter.content-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.content-leave {
  opacity: 1;
}

.content-leave.content-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.content-appear {
  opacity: 0.01;
}

.content-appear.content-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
